/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
laravel-simple-blog.zip
laravel-test.zip
laravel_app_1.zip
tete.zip
